 :root {
  --crimson: #a64a2e;
  --scarlet: #d74200;
  --dark-orange: #f15f22;
  --gold: #e99f10;
  --dark-green: #009403;
  --green: #00c420;
  --dark-blue: #0048bd;
  --blue: #0096ff;
  --dark-cyan: #40a4b9;
  --cyan: #77bfcf;
  --dark-magenta: #b154cf;
  --magenta: #da5bd6;
  --key: #0f3b3a;
  --dark-grey: #155352;
  --grey: #b1c9c3;
  --white: #ffffff;
}

/*
r   crimson 	            #a64a2e
R   scarlet 	            #d74200
o 	dark orange 	        #f15f22
O 	orange 	                #e99f10
w 	brown 	                #98875f
W 	gold / yellow 	        #cfc041
g 	dark green 	            #009403
G 	green 	                #00c420
b 	dark blue 	            #0048bd
B 	blue / azure 	        #0096ff
c 	dark cyan / teal 	    #40a4b9
C 	cyan 	                #77bfcf
m 	dark magenta / purple 	#b154cf
M 	magenta 	            #da5bd6
k 	key	                    #0f3b3a
K 	dark grey / black 	    #155352
y 	grey 	                #b1c9c3
Y 	white 	                #ffffff